body
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(194, 218, 223);
  background-repeat: repeat;
  
}
h1{
  position: relative;
  text-align: center;
  color: brown;
}